/* PHOTOS */

#portfolio {  
    max-width: 70em;
    float: none;
    margin: auto; 
    -webkit-column-count: 4; 
    -moz-column-count: 4;
    column-count: 4;
    -webkit-column-gap: 1rem;
    -moz-column-gap: 1rem;
    column-gap: 1rem;
    -webkit-column-width: 25;
    -moz-column-width: 25%;
    column-width: 25%;
    margin-bottom: 150px;
}
.tile { 
    display: none;
    position: relative;
}
.scale-anm {
    margin: 0 0 1rem;
    width: 100%; 
    border-radius: 4px;
    overflow: hidden;
}
.tile img {
    max-width: 100%; 
    height: auto;
    display: block; 
    width: 100%;
}
.tile::before {
    content: "";
    position: absolute;
    bottom: 0;
    height: 0;
    width: 100%;
    border-top-left-radius: 200px 40px;
    border-top-right-radius: 200px 40px;
    background-color: #00000030;
    transition: all .3s ease-out;
    filter: blur(5px);
}
.tile:hover::before {
    height: 130%;
}

.tile::after {
    content: "";
    display: block;
    width: 4px;
    height: 4px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-60%, -50%);
    opacity: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 32px 4px;
    background-image: url(assets/icons/eye.png);
    transition-duration: 0.3s;
}
.tile:hover::after {
    opacity: 1;
    width: 32px;
    height: 32px;
    top: 50%;
    background-size: 32px 32px;
    background-image: url(assets/icons/eye.png);
}
.toolbar {
    display: flex;
    justify-content: center;
    padding: 50px 0 100px;
}
.btn {
    position: relative;
    font-family: "DM Sans", sans-serif;
    font-weight: 100;
    font-size: 16px;
    letter-spacing: 6px;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    padding: .5rem 1rem;
    margin: 0;
    height: auto;
    color: #fff;
    background-color: inherit;
    border: none;
}
.btn.active:after {
    content: "";
    position: absolute;
    left: 30px;
    right: 30px;
    bottom: -10px;
    height: 1px;
    background-color: #fff;
}
.scroll {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    height: 60px;
    justify-content: space-between;
    align-items: center;
}

@keyframes changeMargin {
    from {
      margin-top: 0px;
    }
  
    to {
      margin-top: 30px;
    }
  }
  
.scroll img {
    width: 30px;
    animation-duration: 1s;
    animation-name: changeMargin;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@media (max-width: 850px) {
    #portfolio {  
        padding: 0 1rem;
        -webkit-column-count: 2; 
        -moz-column-count: 2;
        column-count: 2;
        -webkit-column-gap: 1rem;
        -moz-column-gap: 1rem;
        column-gap: 1rem;
        -webkit-column-width: 50%;
        -moz-column-width: 50%;
        column-width: 50%;
    }
    .toolbar {
        padding: 30px 0 10px;
        margin-bottom: 30px;
        overflow-x: scroll;
    }
}

/* PORTFOLIO MODAL */
.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.carousel {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-container img {
    max-width: 85%;
    max-height: 85vh;
    object-fit: contain;
}

.carousel-button {
    position: fixed;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    color: white;
    width: 50px;
    height: 50px;
    cursor: pointer;
    font-size: 24px;
    z-index: 10000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.carousel-button.prev {
    left: 30px;
    background: url(assets/icons/arrow-left.svg) no-repeat 50% 50%;
    background-size: 36px;
    cursor: pointer;
}

.carousel-button.next {
    right: 30px;
    background: url(assets/icons/arrow-right.svg) no-repeat 50% 50%;
    background-size: 36px;
    cursor: pointer;
}

.close {
    position: fixed;
    right: 30px;
    top: 30px;
    color: #f1f1f1;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
    z-index: 10000;
    width: 50px;
    height: 50px;
    background: url(assets/icons/close.svg) no-repeat 50% 50%;
    background-size: 36px;
    cursor: pointer;
}
