/* ALL */

@import url('https://fonts.cdnfonts.com/css/anamortee');
    body{
        margin: 0;
        background-color: #1e1e1e;
        font-family: "DM Sans", sans-serif;
        font-weight: 100;
        font-size: 16px;
        color: #fff;
    }
    h1 {
        text-align: center;
        font-size: 100px;
        font-family: 'Anamortee', sans-serif;
        font-weight: 100;
        color: #fff;
    }
    h2 {
        color: #fff;
        font-family: "DM Sans", sans-serif;
        font-weight: 400;
        font-size: 20px;
    }

    a {
        text-decoration: none;
    }

    /* HEADER */

    .header {
        position: fixed;
        top: 0px;
        left: 0px;
        right: 0px;
        height: 100px;
        padding: 30px;
        z-index: 2;
        box-shadow: inset 0px 60px 70px -40px #00000078;
        transition: box-shadow 0.3s ease-in-out;
    }
    .header.shadow {
        box-shadow: inset 0px 105px 35px -40px #1e1e1e;
        transition: box-shadow 0.3s ease-in-out;
    }
    .menu ul {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        width: 500px;
        list-style: none;
        text-transform: uppercase;
        letter-spacing: 6px;
        font-size: 14px;
        cursor: pointer;
    }
    .menu ul a.link_anchor {
        color: #FFF;
    }
    .menu ul li {
        list-style: none;
    }
    img.logo {
        position: fixed;
        left: 30px;
        z-index: 10;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 40px;
        justify-content: space-around;
        top: 30px;
    }
    .name {
        position: absolute;
        top: 40px;
        left: 50%;
        transform: translateX(-50%);
        font-family: "DM Sans", sans-serif;
        font-weight: 200;
        font-size: 16px;
        letter-spacing: 6px;
        font-style: normal;
        text-transform: uppercase;
        text-decoration: none;
        z-index: 2;
    }

    .links {
        position: fixed;
        right: 30px;
        z-index:10;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 200px;
        justify-content: space-around;
        top: 50vh;
        transform: translateY(-50%);
    }

    .links a img {
        width: 20px;
    }

    .row {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        max-width: 70vw;
        margin: 50px 0;
    }
    .col {
        width: 50%;
        padding: 24px;
    }

    .col img {
        width: 100%;
    }



    .head {
        display: block;
        overflow: hidden;
        position: relative;
        width: 100vw;
        height: 100vh;
        box-shadow: inset 0px -140px 70px -40px #1e1e1e;
    }
    /* .parallax {
        position: relative;
        display: flex;
        height: 100vh;
    } */
    /* .parallax>img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        pointer-events: none;
    } */
    .landscape {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100vh;
    }
    #landscape0 {
        background-image: url(assets/images/landscape.jpg);
        background-position: center;
        background-size: cover;
    }
    #landscape1 {
        background-image: url(assets/images/landscape1.png);
        background-position: center;
        background-size: cover;
        box-shadow: inset 0px -140px 70px -40px #1e1e1e;
    }
    #landscape2 {
        background-image: url(assets/images/landscape2.png);
        background-position: center;
        background-size: cover;
    }
    #landscape3 {
        background-image: url(assets/images/title.gif);
        background-position: center;
        background-size: 60vw;
        background-repeat: no-repeat;
    }
    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    /* MOUSE */
      
      @keyframes heartbeat {
        0% { 
          transform: translate(-50%, -50%) scale(1); 
        }
        50% { 
          transform: translate(-50%, -50%) scale(1.5); 
        }
        100% { 
          transform: translate(-50%, -50%) scale(1); 
        }
      
      }
      
      h1:hover.ball, h1:hover.ball2{
      
        animation: heartbeat 2s infinite;  
      }
      
      div.ball{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        pointer-events: none;
        position: absolute;
        top: 0;
        left: 0;
        border: 1px solid #fff;
        transform: translate(-50%, -50%);  
        z-index: 2;
        /* mix-blend-mode: difference; */
      }
      
      div.ball2{
        width: 5px;
        height: 5px;
        border-radius: 50%;
        pointer-events: none;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #fff;
        transform: translate(-50%, -50%);  
        z-index: 2;
        /* mix-blend-mode: difference; */
      }
      
      

      /* SCROLL */




.parallax {
  height: 100vh;
  perspective: 1px;
}

.parallax-layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.layer1 {
  transform: translateZ(0);
}

.layer2 {
  transform: translateZ(-1px);
}

.layer3 {
  transform: translateZ(-2px);
}

/* FOR MOBILE */

@media (max-width: 850px) {
    h1 {
        font-size: 70px;
        margin: 20px 0;
    }
    .menu, .links {
        display: none;
    }
    .header {
        right: auto;
        padding: 0;
    }
    .img.logo {
        top: 20px;
        left: 20px;
    }
    #landscape3 {
        background-size: 160vw;
    }
    .hideForMobile {
        display: none;
    }
    .row {
        flex-direction: column;
        max-width: 100vw;
        margin: 10px 0;
    }
    .col {
        width: 100%;
    }
    .col-video {
        padding-bottom: 0;
    }
    .col h2 {
        margin-top: 0;
    }
    .row.reverse {
        display: flex;
        flex-direction: column-reverse;
    }
    img.img-contact {
        margin: 0 auto 24px;
        display: block;
    }
}
